body {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
}

form {
  display: flex;
  justify-content: center;
}

#map {
  flex: 1;
  min-height: 600px;
}

.drop {
  z-index: 4000;
}

.drop-content ul {
  max-height: 200px;
  overflow: auto;
}

#overlay .point {
  fill: #e4304c;
  stroke: #000000;
  stroke-width: 1px;
}

body.shepherd-active>* {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.3;
  pointer-events: none;
}

body .shepherd-enabled {
  z-index: 3000;
}

body.shepherd-active .shepherd-enabled, body.shepherd-active .shepherd-enabled *,
body.shepherd-active .drop, body.shepherd-active .drop * {
  opacity: 1;
  pointer-events: auto;
}

.shepherd-content {
  max-width: 50rem;
}
